body {
    background-color: darkgray;
    background-image: url(/images/newspaper.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}

.jumbotron {
    margin-top: 30px;
}

#refresh-articles {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    position: relative;
    top: 5px;
}